body {
text-align: center;
font-family: Arial bold, sans-serif;
background-color: #923ed6;
color: #ffffff;
height:100vh;
padding: 20px;}


button {
  background: #ff9966;
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  padding: 25px 200px;
  cursor: pointer;
  justify-content: center;
  display : block;
  margin : 0 auto;
  margin-bottom: 20em;
  font-size: 20px;
}

img {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin-bottom: 20px;
}



.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  top : 16%;
  left: 46%;
  position: absolute;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




@media screen and (max-width: 600px) {
  .loader{
top : 16%;
  left: 33%;
  position: absolute;
  }
  
  button {
    padding: 15px 100px;
  }

body {
  height: 100vh;
}
  }
